<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EF_Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <EF_Model.Properties.Settings>
      <setting name="ParameterHemden" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="ParameterLakens1" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ParameterLakens2" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="StringHemden" serializeAs="String">
        <value>Hemden</value>
      </setting>
      <setting name="StringLakens1" serializeAs="String">
        <value>Lakens</value>
      </setting>
      <setting name="StringLakens2" serializeAs="String">
        <value>Dekbedden</value>
      </setting>
      <setting name="StringAndere" serializeAs="String">
        <value>Andere strijk</value>
      </setting>
      <setting name="StringAdministratie" serializeAs="String">
        <value>Administratie</value>
      </setting>
    </EF_Model.Properties.Settings>
  </userSettings>
</configuration>